@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Syncopate', sans-serif;
}
.content {
    border-bottom: 40px solid #0eaa00;
    width: 100%;
    height: 100%;
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    opacity: 0.8;
}
.text {
    animation: text-animation 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: 1000;
}
.pipe {
    position: absolute;
    bottom:  0px;
    width: 100%;
    max-width: 150px;
    /* animation: pipe-animation 2s infinite ease-out; */
    animation: none;
    right: 260px;
    opacity: 0.9;
}
.mario {
    position: absolute;
    width: 400px;
    bottom: -100px;
    z-index: 100;
}
.jump {
    animation: mario-jump 500ms infinite linear;
}
.clouds {
    width: 700px;
    position: absolute;
    z-index: 0;
    top: -40px;
    right: 0;
    animation: clouds-animation 10s infinite linear;
    opacity: 0.8;
}

/* ================================================================= */

@keyframes pipe-animation {
    from {
        left: 100%;
    }
    to {
        left: -10%;
    }
}

@keyframes mario-jump {
    0% {   
        bottom: -100px;
    }
    40% {
        bottom: 320px;
    }
    50% {
        bottom: 350px;
    }
    60% {
        bottom: 320px;
    }
    100% {
        bottom: -100px;
    }
}

@keyframes clouds-animation {
    0% {
        right: -40%;
    }
    100% {
        right: 100%;
    }
}

@keyframes text-animation {
    0% {
        font-size: 60px;
    }
    10% {
        opacity: 0.8;
    }
    20% {
        opacity: 0.7;
    }
    30% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.9;
    }
    50% {
        font-size: 40px;
        opacity: 0.5;
    }
    60% { 
        opacity: 0.6;
    }
    70% {  
        opacity: 0.7;
    }
    80% {   
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        font-size: 60px;
        opacity: 1;
    }
}

/* ================================================================= */

@media screen and (max-width: 1700px) {
    @keyframes mario-jump {
        0% {   
            bottom: -100px;
        }
        40% {
            bottom: 420px;
        }
        50% {
            bottom: 450px;
        }
        60% {
            bottom: 420px;
        }
        100% {
            bottom: -100px;
        }
    }
    .jump {
        animation: mario-jump 520ms infinite linear;
    }
}
@media screen and (max-width: 1600px) {
    .jump2 {
        animation: mario-jump 550ms infinite linear;
    }
    .clouds {
        width: 700px;
        position: absolute;
        z-index: 0;
        top: -40px;
        right: 0;
        animation: clouds-animation 10s infinite linear;
    }
}
@media screen and (max-width: 1450px) {
    .jump3 {
        animation: mario-jump 580ms infinite linear;
    }
    .pipe {
        right: 60px;
    }
}
@media screen and (max-width: 1350px) {
    .jump4 {
        animation: mario-jump 620ms infinite linear;
    }
}
@media screen and (max-width: 1200px) {
    .jump5 {
        animation: mario-jump 680ms infinite linear;
    }
}
@media screen and (max-width: 980px) {
    .jump6 {
        animation: mario-jump 750ms infinite linear;
    }
}
@media screen and (max-width: 880px) {
    @keyframes mario-jump {
        0% {   
            bottom: -100px;
        }
        40% {
            bottom: 480px;
        }
        50% {
            bottom: 520px;
        }
        60% {
            bottom: 480px;
        }
        100% {
            bottom: -100px;
        }
    }
    .jump7 {
        animation: mario-jump 1s infinite linear;
    }
}
@media screen and (max-height: 900px) {
   .clouds {
    top: -100px;
   }
}
@media screen and (max-height: 750px) {
    .clouds {
     top: -150px;
    }
}
 @media screen and (max-height: 750px) {
    .clouds {
     top: -190px;
    }
}